<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="BHoMInstallerUI">
      <DialogRef Id="ErrorDlg"></DialogRef>
      <DialogRef Id="FatalError"></DialogRef>
      <DialogRef Id="FilesInUse"></DialogRef>
      <DialogRef Id="MsiRMFilesInUse"></DialogRef>
      <DialogRef Id="PrepareDlg"></DialogRef>
      <DialogRef Id="ProgressDlg"></DialogRef>
      <DialogRef Id="ResumeDlg"></DialogRef>
      <DialogRef Id="UserExit"></DialogRef>

      <!-- Flow: Welcome -> License -> VerifyReady -> Progress -->
      
      <Publish Control="Next" Dialog="BHoMWelcomeDlg" Event="NewDialog" Value="BHoMLicenseAgreementDlg" Condition="NOT Installed AND NOT PATCH" />
      <Publish Control="Next" Dialog="BHoMWelcomeDlg" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

      <Publish Control="Back" Dialog="BHoMLicenseAgreementDlg" Event="NewDialog" Value="BHoMWelcomeDlg" Condition="1" />
      <Publish Control="Next" Dialog="BHoMLicenseAgreementDlg" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />

      <Publish Control="Back" Dialog="VerifyReadyDlg" Event="NewDialog" Value="BHoMLicenseAgreementDlg" Condition="NOT Installed OR WixUI_InstallMode = &quot;Change&quot;" />
      <Publish Control="Back" Dialog="VerifyReadyDlg" Event="NewDialog" Value="BHoMMaintenanceTypeDlg" Condition="WixUI_InstallMode = &quot;Repair&quot; OR WixUI_InstallMode = &quot;Remove&quot;" />
      <Publish Control="Back" Dialog="VerifyReadyDlg" Event="NewDialog" Value="BHoMWelcomeDlg" Condition="WixUI_InstallMode = &quot;Update&quot;" />

      <Publish Control="Next" Dialog="MaintenanceWelcomeDlg" Event="NewDialog" Value="BHoMMaintenanceTypeDlg" Condition="1" />

      <Publish Control="RepairButton" Dialog="BHoMMaintenanceTypeDlg" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
      <Publish Control="RemoveButton" Dialog="BHoMMaintenanceTypeDlg" Event="NewDialog" Value="VerifyReadyDlg" Condition="1" />
      <Publish Control="Back" Dialog="BHoMMaintenanceTypeDlg" Event="NewDialog" Value="MaintenanceWelcomeDlg" Condition="1" />
    </UI>
  </Fragment>
</Wix>
