<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Height="270" Id="BHoMWelcomeDlg" Title="!(loc.WelcomeDlg_Title)" Width="370">
        <Control Default="yes" Height="17" Id="Next" Text="!(loc.WixUINext)" Type="PushButton" Width="56" X="236" Y="243">
          <Publish Property="WixUI_InstallMode" Value="Update" Condition="Installed AND PATCH" />
        </Control>
        <Control Cancel="yes" Height="17" Id="Cancel" Text="!(loc.WixUICancel)" Type="PushButton" Width="56" X="304" Y="243">
          <Publish Event="SpawnDialog" Value="CancelDlg" Condition="1" />
        </Control>
        <Control Height="234" Id="Bitmap" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" Type="Bitmap" Width="370" X="0" Y="0"></Control>
        <Control Disabled="yes" Height="17" Id="Back" Text="!(loc.WixUIBack)" Type="PushButton" Width="56" X="180" Y="243"></Control>
        <Control Height="0" Id="BottomLine" Type="Line" Width="370" X="0" Y="234"></Control>
        <Control Height="170" Id="Description" Text="!(loc.BHoMWelcomeDlgDescription)" Transparent="yes" Type="Hyperlink" Width="220" X="135" Y="60" ShowCondition="NOT Installed OR NOT PATCH" HideCondition="Installed AND PATCH" />
        <Control Height="60" Id="PatchDescription" NoPrefix="yes" Text="!(loc.WelcomeUpdateDlgDescriptionUpdate)" Transparent="yes" Type="Text" Width="220" X="135" Y="80" ShowCondition="Installed AND PATCH" HideCondition="NOT Installed OR NOT PATCH" />
        <Control Height="60" Id="Title" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" Transparent="yes" Type="Text" Width="220" X="135" Y="20"></Control>
      </Dialog>
      <InstallUISequence>
        <Show Before="ProgressDlg" Dialog="BHoMWelcomeDlg" Condition="NOT Installed OR PATCH" />
      </InstallUISequence>
    </UI>
  </Fragment>
</Wix>
