<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Height="270" Id="BHoMMaintenanceTypeDlg" Title="!(loc.MaintenanceTypeDlg_Title)" Width="370">
        <Control Height="17" Id="RepairButton" Text="!(loc.MaintenanceTypeDlgRepairButton)" ToolTip="!(loc.MaintenanceTypeDlgRepairButtonTooltip)" Type="PushButton" Width="80" X="40" Y="65" DisableCondition="ARPNOREPAIR">
          <Publish Property="WixUI_InstallMode" Value="Repair" Condition="1" />
        </Control>
        <Control Height="30" Id="RepairText" Text="!(loc.MaintenanceTypeDlgRepairText)" Type="Text" Width="280" X="60" Y="85" HideCondition="ARPNOREPAIR" />
        <Control Height="30" Hidden="yes" Id="RepairDisabledText" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgRepairDisabledText)" Type="Text" Width="280" X="60" Y="85" ShowCondition="ARPNOREPAIR" />
        <Control Height="17" Id="RemoveButton" Text="!(loc.MaintenanceTypeDlgRemoveButton)" ToolTip="!(loc.MaintenanceTypeDlgRemoveButtonTooltip)" Type="PushButton" Width="80" X="40" Y="118" DisableCondition="ARPNOREMOVE">
          <Publish Property="WixUI_InstallMode" Value="Remove" Condition="1" />
        </Control>
        <Control Height="20" Id="RemoveText" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgRemoveText)" Type="Text" Width="280" X="60" Y="138" HideCondition="ARPNOREMOVE" />
        <Control Height="20" Hidden="yes" Id="RemoveDisabledText" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgRemoveDisabledText)" Type="Text" Width="280" X="60" Y="138" ShowCondition="ARPNOREMOVE" />
        <Control Height="17" Id="Back" Text="!(loc.WixUIBack)" Type="PushButton" Width="56" X="180" Y="243"></Control>
        <Control Disabled="yes" Height="17" Id="Next" Text="!(loc.WixUINext)" Type="PushButton" Width="56" X="236" Y="243"></Control>
        <Control Cancel="yes" Height="17" Id="Cancel" Text="!(loc.WixUICancel)" Type="PushButton" Width="56" X="304" Y="243">
          <Publish Event="SpawnDialog" Value="CancelDlg" Condition="1" />
        </Control>
        <Control Height="44" Id="BannerBitmap" TabSkip="no" Text="!(loc.MaintenanceTypeDlgBannerBitmap)" Type="Bitmap" Width="370" X="0" Y="0"></Control>
        <Control Height="0" Id="BannerLine" Type="Line" Width="370" X="0" Y="44"></Control>
        <Control Height="0" Id="BottomLine" Type="Line" Width="370" X="0" Y="234"></Control>
        <Control Height="15" Id="Title" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgTitle)" Transparent="yes" Type="Text" Width="340" X="15" Y="6"></Control>
        <Control Height="20" Id="Description" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgDescription)" Transparent="yes" Type="Text" Width="340" X="25" Y="23"></Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
