<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>

    <ComponentGroup Id="Excel" Directory="ASSEMBLIESDIR">
      <Component Id="XLL32">
        <File Id="BHoM_AddIn.xll" Source="..\..\Excel_UI\Build\BHoM-AddIn.xll" />
      </Component>
      <Component Id="XLL64">
        <File Id="BHoM_AddIn64.xll" Source="..\..\Excel_UI\Build\BHoM-AddIn64.xll" />
      </Component>
      <Component Id="DNA32">
        <File Id="BHoM_AddIn.dna" Source="..\..\Excel_UI\Build\BHoM-AddIn.dna" />
      </Component>
      <Component Id="DNA64">
        <File Id="BHoM_AddIn64.dna" Source="..\..\Excel_UI\Build\BHoM-AddIn64.dna" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Grasshopper" Directory="ASSEMBLIESDIR">
      <Component Id="GHA" Guid="{A1EE1994-996D-4AF2-B61E-DA5C910534CC}">
        <File Id="BH.UI.Grasshopper.gha" KeyPath="yes" Source="..\..\Grasshopper_UI\Build\BH.UI.Grasshopper.dll" Name="BH.UI.Grasshopper.gha" />
        <util:RemoveFolderEx On="install" Property="GHBHoMFolder" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2021" Directory="R2021DIR">
      <Component Id="RevitAddin2021">
        <File Id="BHoM_2021.Addin" Source="..\..\Revit_Toolkit\Revit_Core_Adapter\Listener\Files\BHoM_2021.Addin" />
        <util:RemoveFolderEx On="install" Property="R2021BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin21" Name="BHoM.Addin" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2022" Directory="R2022DIR">
      <Component Id="RevitAddin2022">
        <File Id="BHoM_2022.Addin" Source="..\..\Revit_Toolkit\Revit_Core_Adapter\Listener\Files\BHoM_2022.Addin" />
        <util:RemoveFolderEx On="install" Property="R2022BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin22" Name="BHoM.Addin" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2023" Directory="R2023DIR">
      <Component Id="RevitAddin2023">
        <File Id="BHoM_2023.Addin" Source="..\..\Revit_Toolkit\Revit_Core_Adapter\Listener\Files\BHoM_2023.Addin" />
        <util:RemoveFolderEx On="install" Property="R2023BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin23" Name="BHoM.Addin" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2024" Directory="R2024DIR">
      <Component Id="RevitAddin2024">
        <File Id="BHoM_2024.Addin" Source="..\..\Revit_Toolkit\Revit_Core_Adapter\Listener\Files\BHoM_2024.Addin" />
        <util:RemoveFolderEx On="install" Property="R2024BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin24" Name="BHoM.Addin" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Revit2025" Directory="R2025DIR">
      <Component Id="RevitAddin2025">
        <File Id="BHoM_2025.Addin" Source="..\..\Revit_Toolkit\Revit_Core_Adapter\Listener\Files\BHoM_2025.Addin" />
        <util:RemoveFolderEx On="install" Property="R2025BHoMFolder" />
        <RemoveFile On="install" Id="RemoveLegacyAddin25" Name="BHoM.Addin" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Core" Directory="INSTALLFOLDER">
      <Component Id="CleanExisting">
        <RegistryKey Root="HKCU" Key="Software\BHoM">
          <RegistryValue Name="Installer" Type="integer" Value="1"></RegistryValue>
        </RegistryKey>
        <util:RemoveFolderEx On="both" Property="ASSEMBLIESDIR" />
        <util:RemoveFolderEx On="both" Property="FILESDIR" />
        <util:RemoveFolderEx On="both" Property="UPGRADESDIR" />
        <util:RemoveFolderEx On="both" Property="OLDINSTALLFOLDER" />
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE13BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE20BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOCORE23BHOMDIR" />
        <util:RemoveFolderEx On="both" Property="DYNAMOREVIT13BHOMDIR" />
		    <util:RemoveFolderEx On="both" Property="DYNAMOREVIT20BHOMDIR" />
		    <util:RemoveFolderEx On="both" Property="DYNAMOREVIT23BHOMDIR" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SettingsConfig" Directory="SETTINGSDIR">
      <Component Id="SettingsConfig" Guid="00380245-6e1f-4896-9e46-0d87a72f75ad">
        <File Id="IncludedDLLs.txt" Source="..\Settings\IncludedDLLs.txt" />
        <File Id="IncludedDatasets.txt" Source="..\Settings\IncludedDatasets.txt" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig" Directory="REVITSETTINGSDIR">
      <Component Id="RevitSettingsConfig" Guid="8665ac0e-edaf-44e4-a7fa-06380ac608f9">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig2021" Directory="REVITSETTINGSDIR2021">
      <Component Id="RevitSettingsConfig2021" Guid="9043f36a-d1fb-4b38-aecc-85c758126c3b">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig2022" Directory="REVITSETTINGSDIR2022">
      <Component Id="RevitSettingsConfig2022" Guid="81ca731c-6965-451a-9706-416db6231350">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig2023" Directory="REVITSETTINGSDIR2023">
      <Component Id="RevitSettingsConfig2023" Guid="d7ab23c4-8071-44a5-92f5-8656b92cc606">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig2024" Directory="REVITSETTINGSDIR2024">
      <Component Id="RevitSettingsConfig2024" Guid="913af53a-ec07-4104-b80f-5c3145e7edcb">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitSettingsConfig2025" Directory="REVITSETTINGSDIR2025">
      <Component Id="RevitSettingsConfig2025" Guid="81e438a0-8674-4341-93f2-a8a820206817">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ExtensionsConfig" Directory="EXTENSIONSDIR">
      <Component Id="ExtensionsConfig" Guid="b8cd0c91-2ebc-4bd6-ad2b-1e28fc9e6ad3">
        <CreateFolder />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="RevitExtensionsConfig" Directory="REVITEXTENSIONSDIR">
      <Component Id="RevitExtensionsConfig" Guid="6cf78449-1a6e-42c5-8212-9e39e85dcc59">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitExtensionsConfig2021" Directory="REVITEXTENSIONSDIR2021">
      <Component Id="RevitExtensionsConfig2021" Guid="e963fd78-a358-43f0-959c-243c4e77de1d">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitExtensionsConfig2022" Directory="REVITEXTENSIONSDIR2022">
      <Component Id="RevitExtensionsConfig2022" Guid="b325b038-fcea-48df-819d-eb40d44f3733">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitExtensionsConfig2023" Directory="REVITEXTENSIONSDIR2023">
      <Component Id="RevitExtensionsConfig2023" Guid="6d8d5d13-44f5-4a8c-bead-be4870ea2f6d">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitExtensionsConfig2024" Directory="REVITEXTENSIONSDIR2024">
      <Component Id="RevitExtensionsConfig2024" Guid="d33fcffd-3abf-486e-8030-e4945bc9f007">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitExtensionsConfig2025" Directory="REVITEXTENSIONSDIR2025">
      <Component Id="RevitExtensionsConfig2025" Guid="7a65f759-009b-4f87-8a9b-2cb36ed207ef">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ResourcesConfig" Directory="RESOURCESDIR">
      <Component Id="ResourcesConfig" Guid="922ede0a-a035-41e4-adb1-642992cc756a">
        <CreateFolder />
        <util:RemoveFolderEx On="both" Property="RESOURCESDIR" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RevitResourcesConfig" Directory="REVITRESOURCESDIR">
      <Component Id="RevitResourcesConfig" Guid="d08d998a-bcc3-41b4-9378-7f439e09b5af">
        <CreateFolder />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
