<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <!-- Manual groups for extra logic -->
    <ComponentGroup Directory="ASSEMBLIESDIR" Id="Excel">
      <!-- Logic for Excel if any (registry keys etc. are in InstallerCA) -->
    </ComponentGroup>

    <ComponentGroup Directory="GRASSHOPPERPLUGINDIR" Id="Grasshopper">
      <Component Id="GHA" Guid="{A1EE1994-996D-4AF2-B61E-DA5C910534CC}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="GHBHoMFolder"></util:RemoveFolderEx>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="R2022DIR" Id="Revit2022">
      <Component Id="RevitAddin2022" Guid="{8B32B669-D0A4-4A3C-8A95-6548B8E8E922}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="R2022BHoMFolder"></util:RemoveFolderEx>
        <RemoveFile Id="RemoveLegacyAddin22" Name="BHoM.Addin" On="install"></RemoveFile>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="R2023DIR" Id="Revit2023">
      <Component Id="RevitAddin2023" Guid="{3A4B8F3C-9E7A-4B6E-B58A-65D9C4A1F8F3}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="R2023BHoMFolder"></util:RemoveFolderEx>
        <RemoveFile Id="RemoveLegacyAddin23" Name="BHoM.Addin" On="install"></RemoveFile>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="R2024DIR" Id="Revit2024">
      <Component Id="RevitAddin2024" Guid="{D6C9B6E9-9A8E-4B7E-8C9B-6F9B6E9A8E4B}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="R2024BHoMFolder"></util:RemoveFolderEx>
        <RemoveFile Id="RemoveLegacyAddin24" Name="BHoM.Addin" On="install"></RemoveFile>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="R2025DIR" Id="Revit2025">
      <Component Id="RevitAddin2025" Guid="{E5B8C7D8-7A6B-4F5E-9D8C-7A6B4F5E9D8C}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="R2025BHoMFolder"></util:RemoveFolderEx>
        <RemoveFile Id="RemoveLegacyAddin25" Name="BHoM.Addin" On="install"></RemoveFile>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="R2026DIR" Id="Revit2026">
      <Component Id="RevitAddin2026" Guid="{A1B2C3D4-E5F6-4A5B-8C9D-E1F2A3B4C5D6}">
        <CreateFolder />
        <util:RemoveFolderEx On="install" Property="R2026BHoMFolder"></util:RemoveFolderEx>
        <RemoveFile Id="RemoveLegacyAddin26" Name="BHoM.Addin" On="install"></RemoveFile>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="INSTALLFOLDER" Id="Core">
      <Component Id="CleanExisting" Guid="{F1B2C3D4-E5F6-4A5B-8C9D-E1F2A3B4C5D6}">
        <RegistryKey Key="Software\BHoM" Root="HKCU">
          <RegistryValue Name="Installer" Type="integer" Value="1"></RegistryValue>
        </RegistryKey>
        <util:RemoveFolderEx On="both" Property="ASSEMBLIESDIR"></util:RemoveFolderEx>
        <util:RemoveFolderEx On="both" Property="GRASSHOPPERPLUGINDIR"></util:RemoveFolderEx>
        <util:RemoveFolderEx On="both" Property="FILESDIR"></util:RemoveFolderEx>
        <util:RemoveFolderEx On="both" Property="UPGRADESDIR"></util:RemoveFolderEx>
        <util:RemoveFolderEx On="both" Property="OLDINSTALLFOLDER"></util:RemoveFolderEx>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="SETTINGSDIR" Id="SettingsConfig">
      <Component Guid="00380245-6e1f-4896-9e46-0d87a72f75ad" Id="SettingsConfig">
        <File Source="..\Settings\IncludedDLLs.txt"></File>
        <File Source="..\Settings\IncludedDatasets.txt"></File>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR" Id="RevitSettingsConfig">
      <Component Guid="8665ac0e-edaf-44e4-a7fa-06380ac608f9" Id="RevitSettingsConfig">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR2022" Id="RevitSettingsConfig2022">
      <Component Guid="81ca731c-6965-451a-9706-416db6231350" Id="RevitSettingsConfig2022">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR2023" Id="RevitSettingsConfig2023">
      <Component Guid="{D7AB23C4-8071-44A5-92F5-8656B92CC606}" Id="RevitSettingsConfig2023">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR2024" Id="RevitSettingsConfig2024">
      <Component Guid="913af53a-ec07-4104-b80f-5c3145e7edcb" Id="RevitSettingsConfig2024">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR2025" Id="RevitSettingsConfig2025">
      <Component Guid="81e438a0-8674-4341-93f2-a8a820206817" Id="RevitSettingsConfig2025">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITSETTINGSDIR2026" Id="RevitSettingsConfig2026">
      <Component Guid="ea950f33-5779-4cb2-99a1-1fb4314dc9bd" Id="RevitSettingsConfig2026">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="EXTENSIONSDIR" Id="ExtensionsConfig">
      <Component Guid="b8cd0c91-2ebc-4bd6-ad2b-1e28fc9e6ad3" Id="ExtensionsConfig">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR" Id="RevitExtensionsConfig">
      <Component Guid="6cf78449-1a6e-42c5-8212-9e39e85dcc59" Id="RevitExtensionsConfig">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR2022" Id="RevitExtensionsConfig2022">
      <Component Guid="b325b038-fcea-48df-819d-eb40d44f3733" Id="RevitExtensionsConfig2022">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR2023" Id="RevitExtensionsConfig2023">
      <Component Guid="{6D8D5D13-44F5-4A8C-BEAD-BE4870EA2F6D}" Id="RevitExtensionsConfig2023">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR2024" Id="RevitExtensionsConfig2024">
      <Component Guid="d33fcffd-3abf-486e-8030-e4945bc9f007" Id="RevitExtensionsConfig2024">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR2025" Id="RevitExtensionsConfig2025">
      <Component Guid="7a65f759-009b-4f87-8a9b-2cb36ed207ef" Id="RevitExtensionsConfig2025">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITEXTENSIONSDIR2026" Id="RevitExtensionsConfig2026">
      <Component Guid="5f7df272-f12a-41a0-ad1b-d6414a7a1487" Id="RevitExtensionsConfig2026">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="RESOURCESDIR" Id="ResourcesConfig">
      <Component Guid="922ede0a-a035-41e4-adb1-642992cc756a" Id="ResourcesConfig">
        <CreateFolder></CreateFolder>
        <util:RemoveFolderEx On="both" Property="RESOURCESDIR"></util:RemoveFolderEx>
      </Component>
    </ComponentGroup>

    <ComponentGroup Directory="REVITRESOURCESDIR" Id="RevitResourcesConfig">
      <Component Guid="d08d998a-bcc3-41b4-9378-7f439e09b5af" Id="RevitResourcesConfig">
        <CreateFolder></CreateFolder>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
