<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="BHoM">
        <Directory Id="ASSEMBLIESDIR" Name="Assemblies"></Directory>
        <Directory Id="GRASSHOPPERPLUGINDIR" Name="GrasshopperPlugin"></Directory>
        <Directory Id="FILESDIR" Name="Datasets"></Directory>
        <Directory Id="UPGRADESDIR" Name="Upgrades"></Directory>
        <Directory Id="SETTINGSDIR" Name="Settings">
          <Directory Id="PYTHONSETTINGSDIR" Name="Python"></Directory>
          <Directory Id="REVITSETTINGSDIR" Name="Revit">
            <Directory Id="REVITSETTINGSDIR2022" Name="2022"></Directory>
            <Directory Id="REVITSETTINGSDIR2023" Name="2023"></Directory>
            <Directory Id="REVITSETTINGSDIR2024" Name="2024"></Directory>
            <Directory Id="REVITSETTINGSDIR2025" Name="2025"></Directory>
            <Directory Id="REVITSETTINGSDIR2026" Name="2026"></Directory>
          </Directory>
        </Directory>
        <Directory Id="LOGSDIR" Name="Logs"></Directory>
        <Directory Id="EXTENSIONSDIR" Name="Extensions">
          <Directory Id="PYTHONCODEDIR" Name="PythonCode"></Directory>
          <Directory Id="REVITEXTENSIONSDIR" Name="Revit">
            <Directory Id="REVITEXTENSIONSDIR2022" Name="2022"></Directory>
            <Directory Id="REVITEXTENSIONSDIR2023" Name="2023"></Directory>
            <Directory Id="REVITEXTENSIONSDIR2024" Name="2024"></Directory>
            <Directory Id="REVITEXTENSIONSDIR2025" Name="2025"></Directory>
            <Directory Id="REVITEXTENSIONSDIR2026" Name="2026"></Directory>
          </Directory>
        </Directory>
        <Directory Id="RESOURCESDIR" Name="Resources">
          <Directory Id="REVITRESOURCESDIR" Name="Revit"></Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="OLDINSTALLFOLDER" Name="BHoM">
        <Directory Id="OLDASSEMBLIESDIR" Name="Assemblies"></Directory>
      </Directory>
      <Directory Id="GHDIR" Name="Grasshopper">
        <Directory Id="GHLIBSDIR" Name="Libraries">
          <Directory Id="GHBHOMDIR" Name="BHoM"></Directory>
        </Directory>
      </Directory>
      <Directory Id="AUTODESKDIR" Name="Autodesk">
        <Directory Id="REVITDIR" Name="Revit">
          <Directory Id="REVITADDINSDIR" Name="Addins">
            <Directory Id="R2022DIR" Name="2022">
              <Directory Id="R2022BHOMDIR" Name="BHoM"></Directory>
            </Directory>
            <Directory Id="R2023DIR" Name="2023">
              <Directory Id="R2023BHOMDIR" Name="BHoM"></Directory>
            </Directory>
            <Directory Id="R2024DIR" Name="2024">
              <Directory Id="R2024BHOMDIR" Name="BHoM"></Directory>
            </Directory>
            <Directory Id="R2025DIR" Name="2025">
              <Directory Id="R2025BHOMDIR" Name="BHoM"></Directory>
            </Directory>
            <Directory Id="R2026DIR" Name="2026">
              <Directory Id="R2026BHOMDIR" Name="BHoM"></Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DYNAMODIR" Name="Dynamo">
        <Directory Id="DYNAMOCOREDIR" Name="Dynamo Core">
          <Directory Id="DYNAMOCORE13DIR" Name="1.3">
            <Directory Id="DYNAMOCORE13PKGDIR" Name="packages">
              <Directory Id="DYNAMOCORE13BHOMDIR" Name="BHoM">
                <Directory Id="DYNC13BHOMDIR" Name="bin"></Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="DYNAMOCORE20DIR" Name="2.0">
            <Directory Id="DYNAMOCORE20PKGDIR" Name="packages">
              <Directory Id="DYNAMOCORE20BHOMDIR" Name="BHoM">
                <Directory Id="DYNC20BHOMDIR" Name="bin"></Directory>
                <Directory Id="DYNC20BHOMDIREXTRA" Name="extra"></Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="DYNAMOREVITDIR" Name="Dynamo Revit">
            <Directory Id="DYNAMOREVIT13DIR" Name="1.3">
              <Directory Id="DYNAMOREVIT13PKGDIR" Name="packages">
                <Directory Id="DYNAMOREVIT13BHOMDIR" Name="BHoM">
                  <Directory Id="DYNR13BHOMDIR" Name="bin"></Directory>
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="DYNAMOREVIT20DIR" Name="2.0">
              <Directory Id="DYNAMOREVIT20PKGDIR" Name="packages">
                <Directory Id="DYNAMOREVIT20BHOMDIR" Name="BHoM">
                  <Directory Id="DYNR20BHOMDIR" Name="bin"></Directory>
                  <Directory Id="DYNR20BHOMDIREXTRA" Name="extra"></Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
