<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

    <WixVariable Id="WixUILicenseRtf" Value="lgpl-3.0.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmap\welcome.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmap\bannrbmp.bmp" />

    <Property Id="ALLUSERS" Secure="yes" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />

    <Property Id="PromptToCloseProcesses" Value="EXCEL" />
    <Property Id="PromptToCloseDisplayNames" Value="Microsoft Excel" />

    <Property Id="CopyrightHolder" Value="The BHoM Contributors" />
    <Property Id="CopyrightUrl" Value="https://github.com/BHoM" />

    <FeatureGroup Id="CoreComponents">
      <Feature Id="BHoM" Title="BHoM Core" Level="1">
        <ComponentGroupRef Id="ASSEMBLIES" />
        <ComponentGroupRef Id="UPGRADES" />
        <ComponentGroupRef Id="DATA" />
        <ComponentGroupRef Id="Core" />
        <ComponentGroupRef Id="PYTHONCODE" />
      </Feature>

      <Feature Id="ExcelFeature" Title="Excel Plugin" Level="1">
        <ComponentGroupRef Id="Excel" />
      </Feature>

      <Feature Id="GrasshopperPlugin" Title="Grasshopper Plugin" Level="1">
        <ComponentGroupRef Id="Grasshopper" />
      </Feature>

      <Feature Id="RevitPlugin" Title="Revit Plugin" Level="1">
        <ComponentGroupRef Id="Revit2021" />
        <ComponentGroupRef Id="Revit2022" />
        <ComponentGroupRef Id="Revit2023" />
        <ComponentGroupRef Id="Revit2024" />
        <ComponentGroupRef Id="Revit2025" />
      </Feature>

      <Feature Id="Settings" Title="Settings" Level="1">
        <ComponentGroupRef Id="SettingsConfig" />
        <ComponentGroupRef Id="RevitSettingsConfig" />
        <ComponentGroupRef Id="RevitSettingsConfig2021" />
        <ComponentGroupRef Id="RevitSettingsConfig2022" />
        <ComponentGroupRef Id="RevitSettingsConfig2023" />
        <ComponentGroupRef Id="RevitSettingsConfig2024" />
        <ComponentGroupRef Id="RevitSettingsConfig2025" />
      </Feature>

      <Feature Id="Extensions" Title="Extensions" Level="1">
        <ComponentGroupRef Id="ExtensionsConfig" />
        <ComponentGroupRef Id="RevitExtensionsConfig" />
        <ComponentGroupRef Id="RevitExtensionsConfig2021" />
        <ComponentGroupRef Id="RevitExtensionsConfig2022" />
        <ComponentGroupRef Id="RevitExtensionsConfig2023" />
        <ComponentGroupRef Id="RevitExtensionsConfig2024" />
        <ComponentGroupRef Id="RevitExtensionsConfig2025" />
      </Feature>
    </FeatureGroup>

    <Feature Id="Resources" Title="Resources" Level="1">
      <ComponentGroupRef Id="RESOURCES" />
      <ComponentGroupRef Id="ResourcesConfig" />
      <ComponentGroupRef Id="RevitResourcesConfig" />
    </Feature>
    
	</Fragment>
</Wix>
