<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
 
	<Package Name="Buildings and Habitats object Model" Language="1033" Version="$(var.Version)" Manufacturer="https://bhom.xyz" UpgradeCode="64c4dabf-7d02-4412-b422-953e47c780c8" InstallerVersion="200" Scope="perUser">
		
    <MajorUpgrade AllowDowngrades="yes" />
		<MediaTemplate EmbedCab="yes" />

    <UIRef Id="BHoMInstallerUI" />

    <FeatureGroupRef Id="CoreComponents" />

    <InstallExecuteSequence>
    
      <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />

      <Custom Action="Action_RegisterAddIn.SetProperty" Before="Action_RegisterAddIn" Condition="NOT Installed" />
      <Custom Action="Action_RegisterAddIn" Before="InstallFinalize" Condition="NOT Installed" />
      <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="Action_UnRegisterAddIn" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
      <Custom Action="Action_UnRegisterAddIn" Before="InstallFinalize" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />

      <Custom Action="Action_UnRegisterAddInOld.SetProperty" Before="Action_UnRegisterAddInOld" />
      <Custom Action="Action_UnRegisterAddInOld" Before="Action_RegisterAddIn" />

      <Custom Action="GenGHLink" Before="InstallFinalize" Condition="NOT Installed" />
      <Custom Action="DelGHLink" Before="InstallFinalize" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
    </InstallExecuteSequence>

    <AdminExecuteSequence>
      <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />

      <Custom Action="Action_RegisterAddIn.SetProperty" Before="Action_RegisterAddIn" Condition="NOT Installed" />
      <Custom Action="Action_RegisterAddIn" Before="InstallFinalize" Condition="NOT Installed" />
      <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="Action_UnRegisterAddIn" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
      <Custom Action="Action_UnRegisterAddIn" Before="InstallFinalize" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />

      <Custom Action="Action_UnRegisterAddInOld.SetProperty" Before="Action_UnRegisterAddInOld" />
      <Custom Action="Action_UnRegisterAddInOld" Before="Action_RegisterAddIn" />

      <Custom Action="GenGHLink" Before="InstallFinalize" Condition="NOT Installed" />
      <Custom Action="DelGHLink" Before="InstallFinalize" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
    </AdminExecuteSequence>

  </Package>
</Wix>
